GOOGLE_API_KEY=your_google_api_key_here
GROQ_API_KEY=your_groq_api_key_here
ADMIN_USERNAME=admin
ADMIN_PASSWORD=1234

# Database Config
MONGO_URL=mongodb://localhost:27017/
MONGO_DB_NAME=veganai_db
MONGO_COLLECTION_NAME=history
